/* Essas são as variáveis para usar no site e ficar mais escalável a edição das coisas */
:root {
  --cor-branco: #FFFFFF;
  --cor-preto: #000000;
  --cor-primaria: #87f600;
  --cor-secundaria-1: #011208;
  --cor-secundaria-2: #01180e;
  --cor-secundaria-3: #022415;
  --cor-secundaria-4: #033123;
  --regular: 'mark-pro-regular';
  --bold: 'mark-pro-bold';
}